<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>com.xzg.cd.LogFilter</filter-class>
    </filter>

    <filter-mapping>
    <filter-name>logFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>
</configuration>